.headerlinks {
    text-align: right;
    font-family: 'Acme', sans-serif;
    font-size: calc(10px + 2vmin);
    color: rgb(77, 25, 77);
    
}

.anna {
    font-size: calc(40px + 2vmin);
    transform: translate(20px,-20px);
    position: fixed;
}

.alignleft {
    float:left;
}

.alignright {
    float:right;
    position: fixed;
    padding-left: 1420px;
}

.link {
    color:rgb(77, 25, 77);
    text-decoration: none;
    padding-left: 20px;
}
