.headerlinks {
    text-align: right;
    font-family: 'Acme', sans-serif;
    font-size: calc(10px + 2vmin);
    color: whitesmoke;
}

.anna {
    font-size: calc(30px + 2vmin);
}

.alignleft {
    float:left;
}

.alignright {
    float:right;
}

.link {
    color:whitesmoke;
    text-decoration: none;
    padding-left: 10px;
}