div.scrolling {
    padding-top: 300px;
    scroll-behavior: smooth;
}

.scrolling-img{
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    white-space: nowrap; 
    text-align: left;
    border: none;
    outline: none;

}

