.button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
}

.instabutton {
    background-size: 100%;
    background-color: transparent;
    width: 58px;
    height: 38px;
    padding-left:15px;
}