.button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
}

.instabutton {
    background-image: url("../../assets/rsz_insta.png");
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}